name: Build Lenux

on:
  [push, workflow_dispatch]

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v2

      - name: Install kernel dependencies
        run: sudo apt install libssl-dev libelf-dev -y

      - name: Build Linux kernel
        run: ./buildlinux.sh

      - name: Build Lenux rootfs
        run: ./buildrootfs.sh

      - name: Build Lenux ISO
        run: ./buildiso.sh

      - name: Upload rootfs
        uses: actions/upload-artifact@v2
        with:
          name: lenux.tar.gz
          path: lenux.tar.gz
        
      - name: Upload ISO
        uses: actions/upload-artifact@v2
        with:
          name: lenux.iso
          path: lenux.iso
